body {
	background-color: powderblue;
}

h1 {
	color: black;
}

p {
	color: black;
}

#FrontHeader{
	text-align: center;
	color: white;
	background-color: powderblue;
	font-family: arial;
	font-size: 60px;
}