body {
	background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	margin: 0px;
}

h4 {
	margin: 0px;
}

#container {
	background-color: white;
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #6DA3F9;
	color: white;
	text-align: center;
	padding: 20px 0px 10px 0px;
}

#header.subHead {
	padding: 0px 0px 5px 0px;
}

#nav {
	padding: 10px 0px 10px 0px;
	background-color: #4578CC;
	text-align: center;
	font-weight: bold;
}

.selected {
	font-weight: bolder;
	color: white;
}

#content {
	width: 1920px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

#main {
	width: 1920px;
}

.case {
	width: 400px;
	height: 225px;
	padding: 2px 40px 20px 40px;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}

#game-heading {
	text-decoration: underline;
	font-size: 25px;
}

#game-video {

}

#game-description {

}

#game-requirements {
	text-align: center;
}